@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:google sans;
}

/* Criando variáveis */

:root{
  --cor01: rgb(226, 226, 226);
  --cor02: rgb(204, 155, 253);
  --cor03: rgb(101, 44, 157);
  --cor04: rgb(0, 0, 0);
}

/* formatando o header*/
#geral{
    margin: 20px;


}
#cabecalho {
    background-color: rgb(57, 19, 89);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 20px;
    height: 100px;
}

/* Configurando a navbar na horizontal */
#menu ul {
    display: flex;
    gap:25px;
    list-style: none;
}